{% extends "main/base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block head %}
    <script src="https://kit.fontawesome.com/1b17008982.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/null.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}
{% block body %}
    <div class="wrapper-global flex column">
        <div class="gallery-greets gallery full-width">
            <ul>
                <li>
                    <img class="full-width" src="/{{ BASIC_DIR }}media/{{random_image}}" alt="Welcome image">
                </li>
            </ul>
        </div>
        <div class="content flex row">
            {% include 'main/navigation.html' %}
            <div class="articles flex column">
                <article class="website-about">
                    <header class="article-header">ABOUT THE HISTMAP WEBSITE</header>
                    <div class="article-body">
                        Lorem about this website: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis non ut similique officiis quae numquam amet sit laudantium. Accusamus repellat natus dolore reprehenderit quasi quod quia eligendi praesentium et sunt.
                    </div>
                </article>
                <article class="creators-about">
                    <header class="article-header">ABOUT US</header>
                    <div class="article-body">
                        <div class="creator creator_all">
                            We are guys from west Ukraine, who made this website for our programming course project. We chose this case because we think that everyone should have possibility to discover historical objects even if they're cannot do it by themselves. We realized it by design this objects in Unity and display on webpage.
                        </div>
                        <div class="creator creator_misha">
                            Про себе, Жмихась.
                            lorem потім видалиш
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. In facere architecto, saepe voluptatum officia molestiae amet voluptates aperiam quasi minima rerum temporibus ducimus, ipsam doloribus? Nisi, voluptates corrupti. Commodi, eum! 
                        </div>
                        <div class="creator creator_maksym">
                            Stefaniv Maksym - lived in west Ukraine whole life. Got skills in: Python, Django, HTML, CSS, SCSS, Bootstrap, JavaScript, SQL, UI/UX and tools for them like VS Code, console (Ubuntu, Windows), SQLite, PhotoShop and GNU Images Manipulator. Learned object-oriented programming, HTTP, BEM methodology.</div>
                        </div>
                    <footer class="article-footer">
                        <p>Our contacts:</p>
                        <ul class="contacts contacts_misha flex row">
                            <li class="item item_first">Misha's contacts:</li>
                            <li class="item"><a target="_blank href="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                            <li class="item"><a target="_blank href="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="item"><a target="_blank href="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                            <li class="item"><a target="_blank href="mail"><i class="fa-solid fa-at"></i></a></li>
                            <li class="item"><a target="_blank href="linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                        <ul class="contacts contacts_maksym flex row">
                            <li class="item item_first">Maksym's contacts:</li>
                            <li class="item"><a href="https://instagram.com/maxymstefaniv" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            <li class="item"><a href="https://facebook.com/maxymstefaniv" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="item"><a href="https://twitter.com/MaksimStefaniv" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li class="item"><a href="mailto:maxymstefaniv@gmail.com" target="_blank>"<i class="fa-solid fa-at"></i></a></li>
                            <li class="item"><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}