{% extends "main/base.html" %}
{% load static %}
{% block title %}Homepage HISTMAP{% endblock %}
{% block head %}
    <script src="https://kit.fontawesome.com/1b17008982.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/null.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}
{% block body %}
    <div class="wrapper-global flex column">
        <div class="gallery-greets gallery full-width">
            <ul>
                <li>
                    <img class="full-width" src="media/{{image}}" alt="Welcome image">
                </li>
            </ul>
        </div>
        <div class="content flex row">
            {% include 'main/navigation.html' %}
            <div class="articles flex column">
                <article class="website-about">
                    <header class="article-header">ПРО HISTMAP WEBSITE</header>
                    <div class="article-body">
                        Lorem about this website: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis non ut similique officiis quae numquam amet sit laudantium. Accusamus repellat natus dolore reprehenderit quasi quod quia eligendi praesentium et sunt.
                    </div>
                </article>
                <article class="creators-about">
                    <header class="article-header">ПРО НАС</header>
                    <div class="article-body">
                        <div class="creator creator_all">
                            Ми хлопці із західної України, які створили цей вебсайт для нашого курсового проекту з програмування.Ми вибрали цю справу, тому що думаємо, що кожен повинен мати можливість розглянути різноманітні історичні об'єкти, навіть якщо вони не можуть зробити це самостійно побувавши там.Ми втілили це у життя, створюючи ці об'єкти в Unity та відображаючи на веб-сторінці, на котру було переадресовано та котру було заповнено за допомогою фреймворка Django.
                        </div>
                        <div class="creator creator_misha">
                           Іщук Михайло - прожив на святій Галичині все життя. Здобув навички у: HTML, CSS, Python, Unity, Blender, та таких інструментів для них, як VS Code, cmd (Windows), GitHub, Photoshop, UnityHub, BlenderKit. Планую опанувати lvl-design, Unity та C# задля майбутньої кар'єри в IT, також бажаю зазирнути в AR індустрію.
                        </div>
                        <div class="creator creator_maksym">
                            Стефанів Максим - прожив у західній Україні все життя.Здобув навички у: Python, Django, HTML, CSS, SCSS, Bootstrap, JavaScript, SQL, UI/UX та навчився користуватися інструментами для них, такими як VS Code, консоль (Ubuntu, Windows), SQLite, Photoshop та GNU Manipulate. Вивчив об'єктно-орієнтоване програмування, HTTP та методологію BEM для CSS та SCSS.
                        </div>
                    </div>
                    <footer class="article-footer">
                        <p>Наші контакти:</p>
                        <ul class="contacts contacts_misha flex row">
                            <li class="item item_first">Контакти Михайла:</li>
                            <li class="item"><a target="_blank href="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                            <li class="item"><a target="_blank href="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="item"><a target="_blank href="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                            <li class="item"><a target="_blank href="mail"><i class="fa-solid fa-at"></i></a></li>
                            <li class="item"><a target="_blank href="linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                        <ul class="contacts contacts_maksym flex row">
                            <li class="item item_first">Контакти Максима:</li>
                            <li class="item"><a href="https://instagram.com/maxymstefaniv" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            <li class="item"><a href="https://facebook.com/maxymstefaniv" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="item"><a href="https://twitter.com/MaksimStefaniv" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li class="item"><a href="mailto:maxymstefaniv@gmail.com" target="_blank>"<i class="fa-solid fa-at"></i></a></li>
                            <li class="item"><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
