/* accurate classes */
.articles {
    width: auto;
    padding: 0 10%;
}
.articles article {
    width: 100%;
    text-align: center;
}
.article-header {
    margin: 2rem 0 0 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.article-body {
    margin: 1rem 0 2.5rem 0;
}
.creator {
    margin: 1rem 0 0 0;
}
.creator_all {
    margin: 0;
}
.contacts {
    padding: 8px 0;
    font-size: 1.25rem;
    color: inherit;
}
.contacts .item {
    text-align: center;
    flex: 1 0 auto;
    padding: 4px;
}
.contacts .item_first {
    flex: 1 0 25%
}

/* media queries */
@media (max-width: 450px) {
    .articles {
        padding: 0 12px;
    }
    .contacts {
        flex-direction:  column;
    }
}